<div class="info-bar-item">
    <div class="info-bar-label"><%= name %></div>
    <div class="info-bar-label"> Author: <%= author %></div>
</div>
<div class="info-bar-item">
    <div class="info-bar-label">Start Date: <%= startDate %></div>
    <div class="info-bar-label">Modified: <%= modifiedDate %></div>
</div>
<div class="info-bar-item">
    <div class="description">Description: <%= description %></div>
</div>
