<div class="info-bar-item">
    <div class="info-bar-label"><%= name %></div>
    <div class="info-bar-label"> Author: <%= author %></div>
</div>
<div class="info-bar-item">
    <div class="info-bar-label">Start Date: <%= moment.unix(startDate).format("DD MMM YYYY hh:mm a") %></div>
    <div class="info-bar-label">Modified: <%=  moment.unix(modifiedDate).format('DD MMM YYYY hh:mm a') %></div>
</div>
<div class="info-bar-item">
    <div class="description">Description: <%= description %></div>
</div>
