<div class="form-wrapper">
    <form class="main-form">
        <div class="form-title">
            <div>Milestone Edit</div>
        </div>
        <div class="milestones-container">
            <div class="tab-container">
                <div class="tab-container general-content show-content">
                    <div class="table-milestone-header-row">
                        <div class="table-header-milestone-cell">Name</div>
                        <div class="table-header-milestone-cell">Start date</div>
                    </div>
                    <div class="table-row">
                        <img class="add-milestone-img" src="../../../images/add.svg">
                        <a class="add-milestone-link" id="create-milestone">Milestone</a>
                    </div>
                    <% for(var i = 0; i < milestones.length; i++) { %>
                    <div class="table-milestone-row">
                        <div class="table-cell-milestone">
                            <div class="milestone-task-name"
                                 data-name="<%= milestones[i].name %>"><%= milestones[i].name %></div>
                        </div>
                        <div class="table-cell-milestone">
                            <span class="milestone-link edit-milestone" title="Edit"
                                  data-name="<%= milestones[i].name %>"></span>
                            <span class="milestone-link remove-milestone" title="Delete"
                                  data-name="<%= milestones[i].name %>"></span>
                        </div>
                        <div class="table-cell-milestone"><%= moment.unix(milestones[i].date).format('DD/MM/YY HH:mm') %></div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="form-bottom">
            <input class="form-button ok-button" type="button" value="ok">
            <input class="form-button cancel-button" type="button" value="cancel">
        </div>
    </form>
</div>
