<div class = "main-form">
    <h2 class="milestone-edit-header">Edit milestones</h2>
    <ul class="tab-milestone">
        <li class="tab-item-milestone tab-milestone-list active"><a  class="tablinks">Milesones list</a></li>
        <li class="tab-item-milestone tab-milestone-edit hide-content-milestone"><a  class="tablinks">Editing</a></li>
        <button class="save-milestones-button hide-content-milestone" data-name="<%=milestoneEdit.name%>">Save</button>
    </ul>
    <div class="milestone-list-content show-content-milestone">
        <button id="create-milestone">Create milestone</button>
        <ul class="milestone-list">
            <%for(var i = 0; i <  milestones.length; i++) {%>
            <div class="one-milestone-block">
                <li class="milestone-item" data-name="<%= milestones[i].name %>"> <%= milestones[i].name %></li>
                <div id="delete-milestone" data-name="<%= milestones[i].name %>">
                    <img src="/images/delete-button.png" id="delete-milestone-image" alt="delete milestone"/>
                </div>
            </div>
            <%}%>
        </ul>
    </div>

    <div class="milestone-edit-content hide-content-milestone">
        <div>
            <form>
                <%
                var dateobj = new Date(milestoneEdit.date);
                function pad(n) {
                    return n < 10 ? "0"+n : n;
                }
                var dateobj = dateobj.getFullYear()+"-"+pad(dateobj.getMonth()+1)+"-"+ pad(dateobj.getDate());
                %>
                Name: <input id="milestone-settings-name" type="text" value="<%=milestoneEdit.name%>">
                Start date: <input id="milestone-settings-date" type="date" value="<%=dateobj%>">
            </form>
        </div>
        <div class="milestone-dependencies-content">
            <div class="milestone-list-of-all-tasks milestone-left-side">
                <table id="list">
                    <th class="table-header tasks-list">Tasks</th>
                    <% for(var i = 0;i < tasksList.length; i++) { %>
                    <tr class="milestone-task-item" id="<%= tasksList[i].taskId%>"><td> <%= tasksList[i].taskName %></td></tr>
                    <% } %>
                </table>
            </div>
            <div class="milestone-task-dependencies milestone-right-side">
                <table id="list2">
                    <th class="table-header dependencies-list">Depends on</th>
                    <% for(var i = 0; i < dependenciesList.length; i++) { %>
                    <tr class="milestone-task-item" id="<%= dependenciesList[i].taskId%>">
                        <td><%= dependenciesList[i].taskName %></td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>

    <div class="common-form-buttons">
        <button class="ok-button">Ok</button>
    </div>
</div>