<div class="form-wrapper">
    <form class="main-form">
        <div class="form-title">
            <div>Milestone Edit</div>
        </div>
    <div class="tabs">
        <div class="tabs-menu ">
            <a class="tab-link tab-general w--current">General</a>
            <a class="tab-link tab-dependencies hide-content">Depends On</a>
        </div>
    </div>
    <div class="milestones-container">
        <div class="tab-container">
            <div class="tab-container general-content show-content">
                <div class="table-milestone-header-row">
                    <div class="table-header-milestone-cell">Name</div>
                    <div class="table-header-milestone-cell">Start date</div>
                </div>
                <div class="table-row">
                    <img class="add-milestone-img" src="../../../images/add.svg">
                    <a class="add-milestone-link" id="create-milestone">Milestone</a>
                </div>
                <%for(var i = 0; i <  milestones.length; i++) {%>
                <div class="table-milestone-row">
                    <div class="table-cell-milestone">
                        <div data-name="<%= milestones[i].name %>"><%= milestones[i].name %></div>
                        <span class="milestone-link remove-milestone" data-name="<%= milestones[i].name %>"></span>
                        <span class="milestone-link edit-milestone" data-name="<%= milestones[i].name %>"></span>
                    </div>
                    <%
                        var mDate = new Date(milestones[i].date);
                        function date(n) {
                            return n < 10 ? "0"+n : n;
                        }
                        mDate = mDate.getFullYear()+"-"+date(mDate.getMonth()+1)+"-"+ date(mDate.getDate());
                    %>
                    <div class="table-cell-milestone"><%= mDate%></div>
                </div>
                <% } %>
            </div>

            <div class="tab-container dependencies-content hide-content">
                <form>
                    <%
                    var dateobj = new Date(milestoneEdit.date);
                    function pad(n) {
                        return n < 10 ? "0"+n : n;
                    }
                    dateobj = dateobj.getFullYear()+"-"+pad(dateobj.getMonth()+1)+"-"+ pad(dateobj.getDate());
                    %>
                    <label>Name:</label>
                    <input class="milestone-form-input-text" id="milestone-settings-name" type="text" value="<%=milestoneEdit.name%>" required>
                    <label>Start date:</label>
                    <input class="milestone-form-input-text" id="milestone-settings-date" type="date" value="<%=dateobj%>">
                </form>
                <label class="dependancy-label form-label">Task List</label>
                <label class="dependancy-label form-label">Depends On</label>
                <div  class="milestone-drop-list scrollable">
                    <table id="tasks-list">
                        <tbody>
                            <% for(var i = 0;i < tasksList.length; i++) { %>
                            <tr class="task-item" id="<%= tasksList[i].taskId%>">
                                <td> <%= tasksList[i].taskName %></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="milestone-drop-list scrollable">
                    <table id="dependencies-list">
                        <tbody>
                            <% for(var i = 0; i < dependenciesList.length; i++) { %>
                            <tr class="task-item" id="<%= dependenciesList[i].taskId%>">
                                <td><%= dependenciesList[i].taskName %></td>
                            </tr>
                        </tbody>
                        <% } %>
                    </table>
                </div>
                <div class="wrapper" style="text-align: center;">
                    <button class="save-milestones-button" data-name="<%=milestoneEdit.name%>">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-bottom">
        <input class="form-button ok-button" type="submit" value="ok">
        <input class="form-button cancel-button" type="submit" value="cancel">
    </div>
    </form>
</div>
