<div class="form-wrapper">
    <form class="main-form">
        <div class="form-title">
            <div>Resources</div>
        </div>
        <div class="resources-container">
            <div class="tab-container">
                <div class="tab-container tab-general-content show-content">
                    <div class="table-resource-header-row">
                        <div class="table-header-resource-cell">Name</div>
                        <div class="table-header-resource-cell rate">Rate</div>
                        <div class="table-header-resource-cell type">Type</div>
                    </div>
                    <div class="table-row">
                        <img class="add-resource-img" src="../../../images/add.svg">
                        <a class="add-resource-link" id="create-resource">Resource</a>
                    </div>
                    <div class="resources-list">
                        <%for(var i = 0; i < resources.length; i++) {%>
                        <div class="table-resource-row">
                            <div class="table-cell-resource">
                                <div class="edit" id="<%= i %>"><%= resources[i].resourceName %></div>
                            </div>
                            <div class="table-cell-resource rate"><%= resources[i].rate %></div>
                            <div class="table-cell-resource">
                                <div class="type"><%= resources[i].type %></div>
                                <span class="resource-link remove-resource" id="<%= i %>"></span>
                                <span class="resource-link edit-resource" id="<%= i %>"></span>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="resources-form-bottom">
            <input class="form-button ok-button" type="submit" value="save">
            <input class="form-button cancel-button" type="submit" value="cancel">
        </div>
    </form>
</div>
