<div class="form-wrapper">
    <form class="main-form">
        <div class="form-title">
            <div>Settings</div>
        </div>
        <div class="tabs">
            <div class="tabs-menu ">
                <a class="tab-link tab-general w--current">General</a>
                <a class="tab-link tab-time-settings">Time Settings</a>
            </div>
            <div class="settings-container">
                <div class="tab-container">
                    <div class="tab-container general-content show-content">
                        <label class="form-label">Name:</label>
                        <input class="form-input-text name" maxlength="256" value="<%= model.name %>" placeholder="Project Name" type="text">
                        <label class="form-label">Author:</label>
                        <input class="form-input-text author" maxlength="256" value="<%= model.author %>" placeholder="Author" type="text">
                        <label class="form-label description-label">Description:</label>
                        <textarea class="form-input-description description" maxlength="5000" placeholder="Project Description"><%= model.description %></textarea>

                        <!--<label class="form-label pr-icon">Project icon:</label>-->
                        <!--<div class="add-attachment">-->
                            <!--<div class="form-input-file">-->
                                <!--<label>-->
                                    <!--<input id="add-attachment-file" type="file" name="file"/>-->
                                    <!--<img class="add-img" src="/images/add.svg">-->
                                    <!--<span>Upload File</span>-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                    <div class="tab-container settings-content hide-content">
                        <label class="form-label">Start Date:</label>
                        <input class="form-input-text start-date" maxlength="256" value="<%= moment.unix(+model.startDate).format('YYYY-MM-DD')%>" placeholder="Project Start Date" type="date">
                        <label class="form-label day-start-label">Working Day Start:</label>
                        <input class="form-input-text working-day-start" maxlength="256" value="<%= moment.duration(+settings.dayStart, 'seconds').asHours() %>" placeholder="Working Day Start" type="number" min="0">
                        <label class="form-label">Hours Per Day:</label>
                        <input class="form-input-text day-duration" maxlength="256" value="<%= moment.duration(+settings.dayDuration, 'seconds').asHours() %>" placeholder="Working Hours Per Day" type="number" min="0">
                    </div>
                </div>
            </div>
        </div>
        <div class="settings-form-bottom">
            <input class="form-button ok-button" type="button" value="ok">
            <input class="form-button cancel-button" type="button" value="cancel">
        </div>
    </form>
</div>



