<div class="form-wrapper">
    <form class="main-form">
        <div class="form-title">
            <div class="left">Task Edit</div>
            <div class="center"></div>
            <div class="right"><input class="close-btn form-button cancel-button" type="button" value="" > </div>
        </div>
        <div class="tabs">
            <div class="tabs-menu ">
                <a class="tab-link tab-general w--current">General</a>
                <a class="tab-link tab-dependencies">Depends On</a>
                <a class="tab-link tab-attachments">Attachments</a>
            </div>

            <div class="tasks-container">
                <div class="tab-container">
                    <div class="tab-container general-content show-content">
                        <label class="form-label">Task Name:</label>
                        <input class="form-input-text task-name" maxlength="256" value="<%= task.name %>" placeholder="Task Name" required="required" type="text">
                        <label class="form-label">Assignee:</label>
                        <% var resourceName = ''; %>
                        <% for(var i = 0; i < resources.length; i++) { %>
                        <%    if(task.resource === resources[i].resourceName) { %>
                        <%         resourceName = resources[i].resourceName; %>
                        <%    } %>
                        <% } %>
                        <select class="form-input-text task-resource" name="resource" value="<%= resourceName %>">
                            <option value="default" ></option>
                            <% for(var i = 0; i < resources.length; i++) { %>
                                <option value="<%= resources[i].resourceName %>" <% if(resourceName == resources[i].resourceName) { %>selected<% } %>><%= resources[i].resourceName %></option>
                            <% } %>
                        </select>
                        <label class="form-label">Estimate:</label>
                        <input class="form-input-text task-estimate" maxlength="256" value="<%= moment.duration(task.estimateTime, 'seconds').asHours() %>" placeholder="Estimate hours" type="number" min="0">
                        <label class="form-label description-label">Description:</label>
                        <textarea class="form-input-description task-description" maxlength="5000" placeholder="Task Description"><%= task.description %></textarea>
                    </div>
                    <div class="tab-container dependencies-content hide-content">
                        <label class="dependancy-label form-label">Task List</label>
                        <label class="dependancy-label form-label">Depends On</label>
                        <div class="clone">
                            <div class="drop-list scrollable" id="list-of-tasks">
                                <table id="all-tasks-list">
                                    <tbody>
                                        <% for(var i=0;i<tasksList.length;i++) { %>
                                        <tr class="task-item" id="<%= tasksList[i].taskId%>"><td> <%= tasksList[i].name %></td></tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <div class="drop-list scrollable" id="list-of-dependencies">
                                <table id="dependencies-list">
                                    <tbody>
                                        <% for(var i=0;i<dependenciesList.length;i++) { %>
                                        <tr class="task-item" id="<%= dependenciesList[i].taskId%>"><td><%= dependenciesList[i].name %></td> </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-container attachments-content hide-content" >
                        <div class="add-attachment">
                            <div class="form-input-file">
                                <label>
                                    <input id="add-attachment-file" type="file" name="file"/>
                                    <img class="add-img" src="/images/add.svg">
                                    <span>Upload File</span>
                                </label>
                            </div>
                        </div>
                        <div class="task-attachments">
                            <% for( var i=0; i<task.attachments.length; i++) { %>
                            <div class="attachment-item">
                                <div id="delete-attachment" data-id="<%= task.attachments[i].attachmentId %>" >
                                    <img src="/images/cancel.svg" class="delete"  alt="delete attachment"/>
                                </div>
                                <a class="file-reference" download href="<%=task.attachments[i].relativePath%>" target="_blank">
                                    <img src="<%= mimetypes[i]%>" class="attachment-image" alt="attachment image"/>
                                    <% var str = task.attachments[i].fileName; %>
                                    <% if(task.attachments[i].fileName.length>9)  { str = task.attachments[i].fileName.substring(0,9)+'..';} %>
                                    <div class="attachment-name" id="reference-name"><%= str %></div>
                                </a>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="task-form-bottom">
            <input type="button" id="delete-task" class="form-button delete-task <% if (deleteTask === true) { %> hide-content <% } %> <% if (deleteTask === false) { %> show-content <% } %>" value="delete">
            <input type="button" class="form-button ok-button" value="ok">
            <input type="button" class="form-button cancel-button" value="cancel">
        </div>
    </form>
</div>
