<div class="table-task-row" data="<%= task.taskId %>">
    <div class="table-cell-task">
        <button class="task-link icon-edit" title="Edit" id="<%= task.taskId %>"></button>
        <div id="<%= task.taskId %>" class="cell-task"><%= task.name %></div>
    </div>

    <div class="table-cell task-estimateTime table-cell-number"><%= estimateTime %></div>

    <div class="table-cell task-startDate table-cell-number"><%= startDate %></div>
    <!--<% var dependencies = []; %>-->
    <!--<% for (var j = 0; j < task.dependsOn.length; j++) { %>-->
    <!--TO DO "false" string in db-->
    <!--<% if (task.dependsOn[j].taskId != "false") { %>-->
    <!--<% dependencies.push(task.dependsOn[j].taskId); %>-->
    <!--<% } %>-->
    <!--<% } %>-->
    <!--<% for (j = 0; j < dependencies.length; j++) { %>-->
    <!--<% for (var i = 0; i < tasks.length; i++) { %>-->
    <!--<% if (tasks[i].taskId == dependencies[j]) { %>-->
    <!--<% dependencies[j] = tasks[i].name; %>-->
    <!--<% } %>-->
    <!--<% } %>-->
    <!--<% } %>-->
    <!--<div class="table-cell-dependsOn task-dependsOn"><%= dependencies.toString() %></div>-->

    <div class="table-cell task-resource"><%= task.resource %></div>
</div>