<form class = "main-form">
    <!--List of tabs-->
    <ul class="tab">
        <li class="tab-item tab-general active"><a  class="tablinks">General</a></li>
        <li class="tab-item tab-dependencies"><a  class="tablinks">Depends on</a></li>
    </ul>
    <!--Content of General tab-->
    <div class="general-content show-content">
        <div class="general-information">
            <div class = "left-side">
                Name: <br>
                <input class="task-name" type="text" value="<%= task.name %>"><br>
                Estimate:<br>
                <input class="task-estimate" type="text" value="<%= task.estimateTime %>"><br>
                Resource:<br>
                <input class="task-resource" type="text" value="<%= task.resource %>"><br>
            </div>
            <div class = "right-side">
                Description: <br>
                <textarea class="task-description" rows="10" cols="30">
                    <%= task.description %>
                </textarea>
            </div>
        </div>
        <div class="line"></div>
        <div class="attachments left-side">
            <% for( var i=0; i<task.attachments.length; i++) { %>
            <div class="attachment-item">
                <div id="delete-attachment" data-id="<%= task.attachments[i].attachmentId %>" >
                    <img src="/images/delete-button.png" class="delete"  alt="delete attachment"/>
                </div>
                <a class="referense-to-file" href="<%=task.attachments[i].relativePath%>" target="_blank">
                        <img src="/images/word.png" class="attachment-image" alt="attachment image"/>
                    <div class="attachment-name"><%= task.attachments[i].fileName %></div>
                </a>
            </div>

            <% } %>
        </div>
        <div class="add-attachment right-side">
            <input id="add-attachment-file" type="file"></input>
        </div>
    </div>
    <!--Content of Depends on tab-->

    <div class="dependencies-content hide-content">
        <div class="list-of-all-tasks left-side">
        <table id="list">
            <th class="table-header tasks-list">Tasks</th>
            <% for(var i=0;i<tasksList.length;i++) { %>
            <tr class="task-item" id="<%= tasksList[i].taskId%>"><td> <%= tasksList[i].name %></td></tr>
            <% } %>
        </table>
        </div>
        <div class="task-dependencies right-side">
        <table id="list2">
            <th class="table-header dpendencies-list">Depends on</th>
            <% for(var i=0;i<dependenciesList.length;i++) { %>
            <tr class="task-item" id="<%= dependenciesList[i].taskId%>"><td><%= dependenciesList[i].name %></td> </tr>
            <% } %>
        </table>
        </div>
    </div>
    <!--Buttons for both tabs-->
    <div class="common-form-buttons">
        <button class="cancel-button">Cancel</button>
        <button class="ok-button">Ok</button>
    </div>
</form>