<div class="info-bar-item">
    <div class="info-bar-label"><%= name %></div>
    <div class="description">Description: <%= description %></div>
</div>
<div class="info-bar-item">
    <div class="info-bar-label">Estimate Time: <%= estimateTime %> hour(s)</div>
    <div class="info-bar-label">Resource Name: <%= resource %></div>
</div>
<div class="info-bar-item">
    <div class="info-bar-label">Start Date: <%= startDate %></div>
    <div class="info-bar-label">End Date: <%= endDate %></div>
</div>
<div class="info-bar-item">
    <div class="info-bar-label">Depends On Tasks: <%= dependsOn %></div>
</div>