
<h2> Projects Name List</h2>

<ul>
    <% for(var i = 0; i < projects.length; i++) {%>
        <li class="projects-list-item" data-id="<%= projects[i].id %>">
            <a class="projects-link-name"> <%= projects[i].name %> </a>
            <!--TODO: Make spans and buttons flex-items inside li element!-->
            <a class="project-link edit-project" data-id="<%= projects[i].id %>"></a>
            <a class="project-link delete-project" data-id="<%= projects[i].id %>"></a>
            <button class="projects-go-link" data-id="<%= projects[i].id %>">Go to!</button>
        </li>
    <% } %>
</ul>