<div class="form-wrapper">
    <div class="main-form">

        <div class="form-title">
            <div>Project Edit</div>
        </div>

        <div class="tab-container">

            <label class="form-label"><%= project.name ? 'Update' : 'Create' %> Project</label>
            <input class="form-input-text form-control" id="name" type="text" name="name" placeholder="Project Name"
                   value="<%= project.name %>">
            <div class="form-error name-error"></div>

            <label class="form-label description-label">Description</label>
            <textarea class="form-input-description form-control" id="description" maxlength="50" name="description"
                      placeholder="Description"><%= project.description %></textarea>
            <div class="form-error description-error"></div>
            <% if(project) { %>
            <input type="hidden" name="id" value="<%= project.id %>"/>
            <% } %>
        </div>

        <div class="form-bottom">
            <input class="form-button ok-button" value="<%= project.name ? 'Update' : 'Create' %>">
            <input class="form-button cancel-button" value="cancel">
        </div>

    </div>
</div>
