<h2><%= project ? 'Update' : 'Create' %> Project</h2>

<form>
    <div>
        <label><%= project ? 'Update' : 'Create' %> Project</label>
        <input type="text" name="name" placeholder="Project Name" value="<%= project ? project.name : '' %>">
    </div>
    <div>
        <label>Description</label>
        <input type="text" name="description" placeholder="Description" value="<%= project ? project.description : '' %>">
    </div>
    <% if(project) { %>
        <input type="hidden" name="id" value="<%= project.id %>" />
    <% }; %>

 %>
    <button><%= project ? 'Update' : 'Create' %> </button>
</form>