
    <div class="info-bar-item">
        <h3><%= name %></h3>
        <h4> Author: <%= author %></h4>
    </div>
    <div class="info-bar-item">
        <h3>Description: <%= description %></h3>
    </div>
    <div class="info-bar-item">
        <h3>Start Date: <%= startDate %></h3>
        <h3>Create Date: <%= createDate %></h3>
        <h3>Modified: <%= modifiedDate %></h3>
    </div>
